:root {
    accent: #D85937;
    primary: #252552;
    secondary: #D7E4EC; 
    gray: #B2B7BF;
    magnolia: #EFEFFA;
    white: #FEFEFE;

    font--title: 'Poppins', sans-serif;
    font--text: 'Noto Sans Math', sans-serif;

    size--title: 3rem;
    size--subtitle: 2rem;
    size--text: .9rem;

    weight--light: 300;
    weight--regular: 400;
    weight--medium: 500;
    weight--bold: 700;

    spacing--large: 1.5rem;
    spacing--medium: 1rem;
    spacing--small: .5rem;
}

